


<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>  Les professionnels</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-content>



    <ion-grid>
      <ion-row style="background-color: #E4E4E4; border-radius: 10px;">
        <ion-col size-xl="4" size-md="4" size-xs="4" style="padding-top:12px;">
          <ion-button  color="primary" (click)="openMapUsers()"> <ion-icon name="map-outline"></ion-icon> Carte </ion-button>
        </ion-col>
        <ion-col size-xl="4" size-md="4" size-xs="4" style="padding-top:12px;">
          <ion-button  color="primary" (click)="openFilter()"> <ion-icon name="filter-circle-outline"></ion-icon> Filtres </ion-button>
        </ion-col>
        <ion-col size-xl="4" size-md="4" size-xs="4" style="padding-top:12px;" (click)="openFilter()">
          <ion-button  color="primary" > <ion-icon name="location-outline"></ion-icon> {{filter_location_title}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item button *ngFor="let item of posts" (click)="edit($event, item)">
        <ion-avatar slot="start">
          <img src="{{item.user_avatar}}">
        </ion-avatar>


        <ion-label>
          <ion-text>
            
            <h2>{{item.firstname}}  {{item.lastname}}</h2>
            <ion-badge > {{item.customer_type}}</ion-badge>
          </ion-text>
        </ion-label>
   
        <ion-label class="ion-text-wrap">
    

        </ion-label>
   
        <ion-badge  slot="end"  color="secondary">  {{item.distance| number:'1.0-2' }} KM </ion-badge>

      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-top ion-text-center" *ngIf="posts==0"  >
      <img src="assets/empty.png" width="200px">
      <h1>Oups !</h1>
      <p>Aucun profil trouvé</p>
    
    </ion-list>
   
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement..."> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>


  <ion-modal trigger="open-modal-register" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
       
          </ion-buttons>
          <ion-title> Ajouter </ion-title>
          <ion-buttons slot="end" color="primary">
            <ion-button (click)="modal.dismiss()"> Annuler </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>


      <ion-content class="ion-padding">



     
      
       
      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>

