<ion-header [translucent]="false"  class="hidden-xs hidden-lg" >
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title> Balance de Taylor</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
 
  
        <div class="container" >

<div class="point-tac" [style.top.px]="test"></div>
<div class="point-ph" [style.top.px]="test1"></div>
<div class="point-thp" [style.top.px]="testth"></div>
          <ion-img
          src="./assets/tableau-taylor.png" 
        ></ion-img>
     
        </div>


</ion-content>



