<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>  Mes horaires </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

<ion-row>
  <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >


    <ion-list lines="none"  >
      <ion-row >
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
          <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-item class="roundedInput">
                <ion-label color="dark" position="stacked">Lundi</ion-label>
                <ion-input inputmode="text"[(ngModel)]="monday" placeholder="Lundi">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
                    
           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-item class="roundedInput">
                <ion-label color="dark" position="stacked">Mardi</ion-label>
                <ion-input inputmode="text"[(ngModel)]="tuesday" placeholder="Mardi">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>

           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-item class="roundedInput">
                <ion-label color="dark" position="stacked">Mercredi</ion-label>
                <ion-input inputmode="text"[(ngModel)]="wednesday" placeholder="Mercredi">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
         
  

           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-item class="roundedInput">
                <ion-label color="dark" position="stacked">Jeudi</ion-label>
                <ion-input inputmode="text"[(ngModel)]="thursday" placeholder="Jeudi">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>


           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-item class="roundedInput">
                <ion-label color="dark" position="stacked">Vendredi</ion-label>
                <ion-input inputmode="text"[(ngModel)]="friday" placeholder="Vendredi">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>



           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-item class="roundedInput">
                <ion-label color="dark" position="stacked">Samedi</ion-label>
                <ion-input inputmode="text"[(ngModel)]="saturday" placeholder="Samedi">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>



           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-item class="roundedInput">
                <ion-label color="dark" position="stacked">Dimanche</ion-label>
                <ion-input inputmode="text"[(ngModel)]="sunday" placeholder="Dimanche">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
     
       
       
       
          <ion-item >
            <div class="item-note" slot="end">
            <ion-button color="light" size="medium" (click)="cancel()" >Annuler </ion-button>
            <ion-button color="secondary" size="medium" (click)="doSave()">Enregistrer</ion-button>
            </div>
           </ion-item>
        </ion-col>
    </ion-row>
    </ion-list>
    
    
  </ion-col>
      
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
    </ion-col>
    </ion-row>
</ion-content>
