

<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>  Les professionnels</ion-title>
  </ion-toolbar>
  <ion-row style="background-color: #E4E4E4; border-radius: 10px;">
    <ion-col size-xl="4" size-md="4" size-xs="4" style="padding-top:12px;">
      <ion-button  color="primary" (click)="openListUsers()"> <ion-icon name="list-outline"></ion-icon> Liste </ion-button>
    </ion-col>
    <ion-col size-xl="4" size-md="4" size-xs="4" style="padding-top:12px;">
      <ion-button  color="primary" (click)="openFilter()"> <ion-icon name="filter-circle-outline"></ion-icon> Filtres </ion-button>
    </ion-col>
    <ion-col size-xl="4" size-md="4" size-xs="4" style="padding-top:12px;" (click)="openFilter()">
      <ion-button  color="primary" > <ion-icon name="location-outline"></ion-icon> {{filter_location_title}}</ion-button>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="mapId2" style="width: 100%; height: 100%"></div>
</ion-content>