<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>  Mes photos </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-row >
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12" class="ion-padding">  

         <p style="color: black;"> Vous pouvez ajouter une ou plusieurs photos de votre entreprise ( max 10). </p>
       
  
    
      </ion-col>
    </ion-row>


    <ion-list *ngFor="let item of images" >
      <ion-item button >
        <ion-label class="ion-text-wrap">
        <img  *ngIf="item.url==null" src="{{item.image}}" width="200px"><img>
        </ion-label>
     
  
   
        <ion-label class="ion-text-wrap">
          <p>{{ item.created_at | date:'dd-MM-YYYY' }}</p>
        </ion-label>

        <ion-button ion-button outline item-end small color="light" (click)="delete($event, item)"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-item>


    </ion-list>


    <ion-list class="ion-margin-top ion-text-center" *ngIf="posts==0"  >
      <img src="assets/empty.png" width="200px">
      <h1>Oups !</h1>
      <p>Aucune image</p>
    
    </ion-list>
   


    <ion-button icon-left size="primary" expand="full" shape="round" (click)="openModal()" style="text-transform:none!important;" tappable >
     Ajouter une image
      </ion-button>







</ion-content>

