<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Zone de recherche</ion-title>


  <ion-buttons slot="end" >
    <ion-button  (click)="cancel()" > Annuler  </ion-button>
  </ion-buttons>

</ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <ion-list lines="none"  >
                    
           <ion-row >
              <ion-col sizeLg="4" sizeMd="4" sizeXs="4"style="text-align: center;" > 
                <ion-row style="text-align: center;margin: 20%;">  <img src="./assets/marker-gps.png"> Guyane </ion-row> 
               
              <ion-button (click)="doSave1()">Choisir</ion-button>
              </ion-col>



              <ion-col sizeLg="4" sizeMd="4" sizeXs="4"style="text-align: center;" > 
                <ion-row style="text-align: center;margin: 20%;">  <img src="./assets/marker-gps.png"> Martinique </ion-row> 
               
              <ion-button (click)="doSave2()">Choisir</ion-button>
              </ion-col>



              <ion-col sizeLg="4" sizeMd="4" sizeXs="4"style="text-align: center;" > 
                <ion-row style="text-align: center;margin: 20%;">  <img src="./assets/marker-gps.png"> Guadeloupe </ion-row> 
               
              <ion-button (click)="doSave3()">Choisir</ion-button>
              </ion-col>
            </ion-row>
          
          </ion-list>
      
   
</ion-content>
