
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>  Les annonces</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>

    <ion-grid>
      <ion-row style="background-color: #E4E4E4; border-radius: 10px;">
        <ion-col size-xl="4" size-md="4" size-xs="4" style="padding-top:12px;">
          <ion-button  color="primary" (click)="openMap()"> <ion-icon name="map-outline"></ion-icon> Carte </ion-button>
        </ion-col>
        <ion-col size-xl="4" size-md="4" size-xs="4" style="padding-top:12px;">
          <ion-button  color="primary" (click)="openFilter()"> <ion-icon name="filter-circle-outline"></ion-icon> Filtres </ion-button>
        </ion-col>
        <ion-col size-xl="4" size-md="4" size-xs="4" style="padding-top:12px;" (click)="openFilter()">
          <ion-button  color="primary" style="text-transform:none!important;" > <ion-icon name="location-outline"></ion-icon> {{filter_location_title}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-list>
   

      <ion-card  button *ngFor="let item of posts"  >
        <div style="height: 250px;">
        <img  src="{{item.image}}"  (click)="edit($event, item)" class="card-background-page">
        </div>
        <ion-card-content style="background-color: white;color:black;" no-lines>
          <h2 color="dark"><b> {{item.title}}  </b></h2> 
          <h2 color="dark"> {{item.price}} € </h2>      
          <ion-badge > {{item.category}}</ion-badge> <ion-badge > {{item.subcategory}}</ion-badge>
          <ion-badge  slot="end"  color="secondary">  {{item.distance| number:'1.0-2' }} KM </ion-badge>
        </ion-card-content>
        </ion-card>
    </ion-list>


    <ion-list class="ion-margin-top ion-text-center" *ngIf="posts==0"  >
      <img src="assets/empty.png" width="200px">
      <h1>Oups !</h1>
      <p>Aucune annonce trouvée</p>
    
    </ion-list>
   
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement..."> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>







