.swiper-pagination {
    position: fixed;
    bottom: 0px;
    padding-bottom: 3px;
}


ion-img {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 800px;
    max-height: 60%;
}




swiper-container {
  width: 100%;
  height: 300px;
}
 
swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



ion-accordion-group {
ion-accordion {
  border: 3px solid #0d748d;
  border-radius: 8px;
  margin-bottom: 5px;

  }
}



  ion-card {
    border: 3px solid #0d748d;
    border-radius: 8px;
    margin-bottom: 5px;
  
    }
  