<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="primary">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title > Créer une nouvelle piscine </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
<ion-row  >
  <ion-col sizeLg="3" sizeMd="3" sizeXs="12" >
  </ion-col>
  <ion-col sizeLg="6" sizeMd="6" sizeXs="12" class="bloc">




  





    <form [formGroup]="onRegisterForm1" (ngSubmit)="submitForm1()" novalidate class="list-form" *ngIf="form1">
        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <b> Nouvelle piscine 1/8 </b><br> 
            <ion-row >
              <small>Ajouter un nom à votre piscine</small> 
             </ion-row>
        
            <ion-item class="roundedInput">
              <ion-label position="floating">Nom de votre piscine *</ion-label>
              <ion-input inputmode="text"[(ngModel)]="title" placeholder="Titre" formControlName="title">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
     <ion-row>
      <ion-col>
      <ion-button type="submit" color="primary" expand="block" [disabled]="!onRegisterForm1.valid">  Suivant   </ion-button>
      </ion-col>
      </ion-row>
    </form>



    <form [formGroup]="onRegisterForm2" (ngSubmit)="submitForm2()" novalidate class="list-form" *ngIf="form2">
   
    <ion-row >
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
        <b>  Lieu 2/8 </b><br> 
        <ion-row >
          <small>Rechercher l'adresse de votre résidence *</small> 
         </ion-row>


    <ion-item lines="full" *ngIf="showaddress==false" class="roundedInput">
      <ion-input  debounce="200" (ionInput)="queryadress()" [(ngModel)]="queryadressinput" formControlName="queryadressinput" placeholder="Recherchez une adresse"  type="text"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

    <div  *ngIf="showaddress==false">
    <ion-list  *ngFor="let item of queryadressdata"  (click)="selectadress($event, item)" class="ion-padding" >
      <ion-item button detail="true" detail-icon="location-outline"  lines="none">
           <ion-label class="ion-text-wrap">
            <b style="color:black;"> {{item.properties.formatted}}</b>     
          </ion-label>
        </ion-item>
    </ion-list>
    </div>

    <ion-row >
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
    <ion-item lines="full"  *ngIf="showaddress==true" class="roundedInput">
      <ion-label position="floating"> 
        <ion-icon name="person-outline"></ion-icon> Adresse postale </ion-label>
      <ion-input  [(ngModel)]="address" formControlName="address" type="text"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
  
  
<ion-row >
  <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
    <ion-item lines="full"  *ngIf="showaddress==true" class="roundedInput">
      <ion-label position="floating">  
        <ion-icon name="person-outline"></ion-icon> CP </ion-label>
      <ion-input  [(ngModel)]="cp" formControlName="cp" type="text"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
  
   
<ion-row >
  <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
    <ion-item lines="full"  *ngIf="showaddress==true" class="roundedInput">
      <ion-label position="floating">  
        <ion-icon name="person-outline"></ion-icon> Ville </ion-label>
      <ion-input  [(ngModel)]="city" formControlName="city" type="text"></ion-input>
    </ion-item>
   
  </ion-col>
</ion-row>
  
<ion-row >
  <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
    <ion-item lines="full"  *ngIf="showaddress==true" class="roundedInput">
      <ion-label position="floating">  
        <ion-icon name="person-outline"></ion-icon> Pays </ion-label>
      <ion-input [(ngModel)]="country" formControlName="country" type="text"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>



   <ion-row>
    <ion-col>
    <ion-button type="submit" color="primary" expand="block" [disabled]="!onRegisterForm2.valid">  Suivant   </ion-button>
    </ion-col>
    </ion-row>
  </form>



      <form [formGroup]="onRegisterForm3" (ngSubmit)="submitForm3()" novalidate class="list-form" *ngIf="form3">
    




        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <b> Forme du bassin 3/8 </b><br> 
            <ion-row >
              <small>Choisir une forme </small> 
             </ion-row>
             <ion-item *ngFor="let item of forms" >
              <ion-thumbnail slot="start">
                <img [src]="item.image" alt="Sample Image" style="margin: 10%;"/>
              </ion-thumbnail>
              <ion-label>{{ item.name }}</ion-label>
              <ion-checkbox 
                slot="end" 
      
                [checked]="selectedForm === item.value" 
                (ionChange)="selectOnlyOne(item)"  ></ion-checkbox>

        
            </ion-item>
          </ion-col>
         </ion-row>





    
       <ion-row>
        <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="selectedForm==''">  Suivant   </ion-button>
        </ion-col>
        </ion-row>
      </form>


      <form [formGroup]="onRegisterForm4" (ngSubmit)="submitForm4()" novalidate class="list-form" *ngIf="form4">
     


        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <b> Types de fond  4/8 </b><br> 
            <ion-row >
              <small>Choisir un type </small> 
             </ion-row>
             <ion-item *ngFor="let item of types">
              <ion-thumbnail slot="start">
                <img [src]="item.image" alt="Sample Image" />
              </ion-thumbnail>
              <ion-label>{{ item.name }}</ion-label>
              <ion-checkbox 
                slot="end" 
                [checked]="selectedType === item.value" 
                (ionChange)="selectTypeOne(item)">
              </ion-checkbox>
            </ion-item>
          </ion-col>
         </ion-row>
    
    
  

       <ion-row>
        <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="selectedType==''">  Suivant   </ion-button>
        </ion-col>
        </ion-row>
      </form>



      <form [formGroup]="onRegisterForm4" (ngSubmit)="submitForm5()" novalidate class="list-form" *ngIf="form5">



        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <b> Types de filtres  5/8 </b><br> 
            <ion-row >
              <small>Choisir un type </small> 
             </ion-row>
             <ion-item *ngFor="let item of typesFiltres">
              <ion-thumbnail slot="start">
                <img [src]="item.image" />
              </ion-thumbnail>
              <ion-label>{{ item.name }}</ion-label>
              <ion-checkbox 
                slot="end" 
                [checked]="selectedTypeFiltre === item.value" 
                (ionChange)="selectTypeFiltre(item)">
              </ion-checkbox>
            </ion-item>
          </ion-col>
         </ion-row>
         
     
     


       <ion-row>
        <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="selectedTypeFiltre==''">  Suivant   </ion-button>
        </ion-col>
        </ion-row>
      </form>





      <form [formGroup]="onRegisterForm4" (ngSubmit)="submitForm6()" novalidate class="list-form" *ngIf="form6">



        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <b> Désinfection 6/8 </b><br> 
            <ion-row >
              <small>Méthode de désinfection</small> 
             </ion-row>
             <ion-item *ngFor="let item of typesDesinfection">
              <ion-thumbnail slot="start">
                <img [src]="item.image" />
              </ion-thumbnail>
              <ion-label>{{ item.name }}</ion-label>
              <ion-checkbox 
                slot="end" 
                [checked]="selectedTypeDesinfection === item.value" 
                (ionChange)="selectTypeDesinfection(item)">
              </ion-checkbox>
            </ion-item>
          </ion-col>
         </ion-row>

     
  
       <ion-row>
        <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="selectedTypeDesinfection==''">  Suivant   </ion-button>
        </ion-col>
        </ion-row>
      </form>





      <form [formGroup]="onRegisterForm7" (ngSubmit)="submitForm7()" novalidate class="list-form" *ngIf="form7">


        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <b>Revêtement  7/8 </b><br> 
            <ion-row >
              <small>Type de revêtement</small> 
             </ion-row>
             <ion-item *ngFor="let item of typesRevetement">
            
              <ion-label>{{ item.name }}</ion-label>
              <ion-checkbox 
                slot="end" 
                [checked]="selectedTypeRevetement === item.value" 
                (ionChange)="selectTypeRevetement(item)">
              </ion-checkbox>
            </ion-item>
          </ion-col>
         </ion-row>
    
    


     
  
        <ion-row>
         <ion-col>
         <ion-button type="submit" color="primary" expand="block" [disabled]="selectedTypeRevetement==''">  Suivant   </ion-button>
         </ion-col>
         </ion-row>
       </form>






      <form [formGroup]="onRegisterForm8" (ngSubmit)="submitForm8()" novalidate class="list-form" *ngIf="form8&&!isHiddenCalculVolume" >



        <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <b> Volume du bassin 8/8 </b><br> 
            <ion-row >
              <small>Ajouter le volume  </small> 
             </ion-row>
    
             <ion-row  >
              <ion-col size="12" padding >
                <ion-label >Volume en m3</ion-label>
                <ion-item class="roundedInput">
                <ion-input inputmode="number"  formControlName="volume" [(ngModel)]="volume" placeholder="en m">  </ion-input>
               </ion-item>
             </ion-col>
            </ion-row>
            <br> 
            <ion-row >
              <small>Je connais pas le volume  </small> 
             </ion-row>
    
            <ion-button (click)="toggleVisibility()"  *ngIf="!isHiddenCalculVolume"  color="secondary" expand="block" >Calculer le volume </ion-button>
    
          </ion-col>
         </ion-row>
    
    
         <ion-row>
          <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="!onRegisterForm8.valid">  Suivant   </ion-button>
          </ion-col>
          </ion-row>
        </form>






   
    
         <ion-row *ngIf="isHiddenCalculVolume" >
       
       
    
         <div  *ngIf="selectedForm === 'ronde'" >
          <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-label >Rayon en m</ion-label>
              <ion-item class="roundedInput">
              <ion-input inputmode="number"[(ngModel)]="largeur" placeholder="en m">  </ion-input>
             </ion-item>
           </ion-col>
          </ion-row>
    
          <div  *ngIf="selectedType === 'plat'" >
           <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-label > Profondeur en m</ion-label>
              <ion-item class="roundedInput">
              <ion-input inputmode="number"[(ngModel)]="profondeur" placeholder="en m">  </ion-input>
             </ion-item>
           </ion-col>
          </ion-row>
          </div>
        
        
        <div  *ngIf="selectedType === 'evolutif'">
         <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <ion-label >Profondeur min en m RONDE</ion-label>
            <ion-item class="roundedInput">
            <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
           </ion-item>
         </ion-col>
        </ion-row>
        
        
        <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <ion-label> Profondeur max en m </ion-label>
            <ion-item class="roundedInput">
            <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
           </ion-item>
         </ion-col>
        </ion-row>
        </div>
    
    
        <div  *ngIf="selectedType === 'double'">
          <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label >Profondeur min en m</ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
         
         
         <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label> Profondeur max en m </ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
         </div>
        </div>
        
    
    
        <div *ngIf="selectedForm === 'formeenl'" >
          <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-label >Petite largeur en m</ion-label>
              <ion-item class="roundedInput">
              <ion-input inputmode="number"[(ngModel)]="petiteLargeur" placeholder="en m">  </ion-input>
             </ion-item>
           </ion-col>
          </ion-row>
      
      
          <ion-row>
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-label >Grande largeur en m</ion-label>
              <ion-item class="roundedInput">
              <ion-input inputmode="number"[(ngModel)]="grandeLargeur" placeholder="en m">  </ion-input>
             </ion-item>
           </ion-col>
          </ion-row>
    
    
          <ion-row>
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-label >Petite Longueur en m</ion-label>
              <ion-item class="roundedInput">
              <ion-input inputmode="number"[(ngModel)]="petiteLongueur" placeholder="en m">  </ion-input>
             </ion-item>
           </ion-col>
          </ion-row>
      
      
          <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-label >Grande longueur en m</ion-label>
              <ion-item class="roundedInput">
              <ion-input inputmode="number"[(ngModel)]="grandeLongueur" placeholder="en m">  </ion-input>
             </ion-item>
           </ion-col>
          </ion-row>
        
    
    
        <div  *ngIf="selectedType === 'plat'" >
          <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label > Profondeur en m</ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="profondeur" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
        </div>
     
        <div  *ngIf="selectedType === 'double'" >
         <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label >Profondeur min en m</ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
    
         <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label> Profondeur max en m </ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
       </div>
    
       <div  *ngIf="selectedType === 'evolutif'" >
        <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <ion-label >Profondeur min en m</ion-label>
            <ion-item class="roundedInput">
            <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
           </ion-item>
         </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <ion-label> Profondeur max en m </ion-label>
            <ion-item class="roundedInput">
            <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
           </ion-item>
         </ion-col>
        </ion-row>
      </div>
      </div>
    
    
    
    
    
    
      <div  *ngIf="selectedForm==='rectangulaire'" >
             <ion-row  >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                <ion-label >Largeur en m</ion-label>
                <ion-item class="roundedInput">
                <ion-input inputmode="number"[(ngModel)]="largeur" placeholder="en m">  </ion-input>
               </ion-item>
             </ion-col>
            </ion-row>
        
        
            <ion-row  >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                <ion-label >Longueur en m</ion-label>
                <ion-item class="roundedInput">
                <ion-input inputmode="number"[(ngModel)]="longueur" placeholder="en m">  </ion-input>
               </ion-item>
             </ion-col>
            </ion-row>
        
            <div  *ngIf="selectedType === 'plat'" >
              <ion-row  >
                <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                 <ion-label > Profondeur en m</ion-label>
                 <ion-item class="roundedInput">
                 <ion-input inputmode="number"[(ngModel)]="profondeur" placeholder="en m">  </ion-input>
                </ion-item>
              </ion-col>
             </ion-row>
            </div>
      
            <div  *ngIf="selectedType === 'double'" >
              <ion-row  >
                <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                  <ion-label >Profondeur min en m</ion-label>
                  <ion-item class="roundedInput">
                  <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
                 </ion-item>
               </ion-col>
              </ion-row>
          
          
              <ion-row  >
                <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                  <ion-label> Profondeur max en m </ion-label>
                  <ion-item class="roundedInput">
                  <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
                 </ion-item>
               </ion-col>
              </ion-row>
            </div>
            <div  *ngIf="selectedType === 'evolutif'" >
              <ion-row  >
                <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                  <ion-label >Profondeur min en m</ion-label>
                  <ion-item class="roundedInput">
                  <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
                 </ion-item>
               </ion-col>
              </ion-row>
          
              <ion-row  >
                <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                  <ion-label> Profondeur max en m </ion-label>
                  <ion-item class="roundedInput">
                  <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
                 </ion-item>
               </ion-col>
              </ion-row>
            </div>
          </div>
        
    
    
          <div  *ngIf="selectedForm==='ovale'" >
            <ion-row  >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
               <ion-label >Largeur en m</ion-label>
               <ion-item class="roundedInput">
               <ion-input inputmode="number"[(ngModel)]="largeur" placeholder="en m">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
       
       
           <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
               <ion-label >Longueur en m</ion-label>
               <ion-item class="roundedInput">
               <ion-input inputmode="number"[(ngModel)]="longueur" placeholder="en m">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
       
           <div  *ngIf="selectedType === 'plat'" >
             <ion-row  >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                <ion-label > Profondeur en m</ion-label>
                <ion-item class="roundedInput">
                <ion-input inputmode="number"[(ngModel)]="profondeur" placeholder="en m">  </ion-input>
               </ion-item>
             </ion-col>
            </ion-row>
           </div>
     
           <div  *ngIf="selectedType === 'double'" >
             <ion-row  >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                 <ion-label >Profondeur min en m</ion-label>
                 <ion-item class="roundedInput">
                 <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
                </ion-item>
              </ion-col>
             </ion-row>
         
         
             <ion-row  >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                 <ion-label> Profondeur max en m </ion-label>
                 <ion-item class="roundedInput">
                 <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
                </ion-item>
              </ion-col>
             </ion-row>
           </div>
           <div  *ngIf="selectedType === 'evolutif'" >
             <ion-row  >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                 <ion-label >Profondeur min en m</ion-label>
                 <ion-item class="roundedInput">
                 <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
                </ion-item>
              </ion-col>
             </ion-row>
         
             <ion-row  >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                 <ion-label> Profondeur max en m </ion-label>
                 <ion-item class="roundedInput">
                 <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
                </ion-item>
              </ion-col>
             </ion-row>
           </div>
         </div>
       
    
    
         <div  *ngIf="selectedForm==='haricot'" >
          <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label >Largeur en m</ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="largeur" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
     
     
         <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label >Longueur en m</ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="longueur" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
     
         <div  *ngIf="selectedType === 'plat'" >
           <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-label > Profondeur en m</ion-label>
              <ion-item class="roundedInput">
              <ion-input inputmode="number"[(ngModel)]="profondeur" placeholder="en m">  </ion-input>
             </ion-item>
           </ion-col>
          </ion-row>
         </div>
    
         <div  *ngIf="selectedType === 'double'" >
           <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
               <ion-label >Profondeur min en m</ion-label>
               <ion-item class="roundedInput">
               <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
       
       
           <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
               <ion-label> Profondeur max en m </ion-label>
               <ion-item class="roundedInput">
               <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
         </div>
         <div  *ngIf="selectedType === 'evolutif'" >
           <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
               <ion-label >Profondeur min en m</ion-label>
               <ion-item class="roundedInput">
               <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
       
           <ion-row  >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
               <ion-label> Profondeur max en m </ion-label>
               <ion-item class="roundedInput">
               <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
         </div>
       </div>
     
    
    
    
       <div  *ngIf="selectedForm==='formelibre'" >
        <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
           <ion-label >Largeur en m</ion-label>
           <ion-item class="roundedInput">
           <ion-input inputmode="number"[(ngModel)]="largeur" placeholder="en m">  </ion-input>
          </ion-item>
        </ion-col>
       </ion-row>
    
    
       <ion-row  >
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
           <ion-label >Longueur en m</ion-label>
           <ion-item class="roundedInput">
           <ion-input inputmode="number"[(ngModel)]="longueur" placeholder="en m">  </ion-input>
          </ion-item>
        </ion-col>
       </ion-row>
    
       <div  *ngIf="selectedType === 'plat'" >
         <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
            <ion-label > Profondeur en m</ion-label>
            <ion-item class="roundedInput">
            <ion-input inputmode="number"[(ngModel)]="profondeur" placeholder="en m">  </ion-input>
           </ion-item>
         </ion-col>
        </ion-row>
       </div>
    
       <div  *ngIf="selectedType === 'double'" >
         <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label >Profondeur min en m</ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
     
     
         <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label> Profondeur max en m </ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
       </div>
       <div  *ngIf="selectedType === 'evolutif'" >
         <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label >Profondeur min en m</ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="profondeurMin" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
     
         <ion-row  >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
             <ion-label> Profondeur max en m </ion-label>
             <ion-item class="roundedInput">
             <ion-input inputmode="number"[(ngModel)]="profondeurMax" placeholder="en m">  </ion-input>
            </ion-item>
          </ion-col>
         </ion-row>
       </div>
     </div>
  
    </ion-row>
   
    <ion-row  >
      <ion-col>
       <ion-button (click)="calculVolume()"  *ngIf="isHiddenCalculVolume" color="secondary" expand="block" >Calculer le volume </ion-button>
     </ion-col>
   </ion-row>

 
 

</ion-col>  


<ion-col sizeLg="3" sizeMd="3" sizeXs="12" >
</ion-col>
</ion-row>


</ion-content>




