
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title > Produit </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content responsive-sm  class="ion-padding">

<ion-row>


<ion-col sizeLg="8" sizeMd="8" sizeXs="12" >



      <ion-list lines="none"  >
        <ion-row >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >

            <ion-row >
              <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
                Id: {{id}}  <br>
             </ion-col>
            </ion-row>
            <ion-row >
              <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
        
             </ion-col>
            </ion-row>
      

           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-item class="roundedInput">
                <ion-label  position="stacked">Description</ion-label>
                <ion-textarea placeholder="Ajoutez une description ..." [autoGrow]="true" [(ngModel)]="content">
              </ion-textarea>
              </ion-item>
            </ion-col>
           </ion-row>

           <ion-row >
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
              <ion-item class="roundedInput">
               <ion-label position="stacked">Prix</ion-label>
               <ion-input inputmode="number"[(ngModel)]="price" placeholder="1">  </ion-input>
             </ion-item>
           </ion-col>
           <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
           
           </ion-col>
          </ion-row>
                


           <ion-list style="margin-top: 20px;" >
            <ion-row>
              <ion-col sizeLg="8" sizeMd="8" sizeXs="12" >
                <h4> Ajouter une image </h4>
                <ion-item >
                  <ion-buttons slot="start">
                    <ion-button >
                      <ion-icon slot="icon-only" name="attach"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <input type="file" (change)="onFileChange($event)" />
                </ion-item>
               
                    <img  src="{{image}}" style="width:200px">
             
              </ion-col>
              <ion-col sizeLg="4" sizeMd="4" sizeXs="12" >
              </ion-col>
          
            </ion-row>
            <ion-row >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                <ion-item class="roundedInput">
                  <ion-label  position="stacked">Image </ion-label>
                  <ion-input inputmode="text"[(ngModel)]="image" placeholder="">  </ion-input>
                </ion-item>
              </ion-col>
             </ion-row>
            
        </ion-list>
        

       

     
        


           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
         

           </ion-col>
          </ion-row>

 



           <!-- Create the toolbar container -->
      

            <ion-item >
              <div class="item-note" slot="end">
              <ion-button color="secondary" size="medium"  >Annuler </ion-button>
              <ion-button color="danger" size="medium" (click)="doSave()">Enregistrer</ion-button>
              </div>
             </ion-item>
          </ion-col>
      </ion-row>
    </ion-list>








  <ion-row  *ngFor="let item of posts" class="divider-blue"  style="margin-top: 20px;"  >
    <ion-col sizeLg="3" sizeMd="3" sizeXs="12" > 
    </ion-col>
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
   Mise à jour | le {{item.updated_at| date: 'dd/MM/yyyy'}}
  </ion-col>
  <ion-col sizeLg="3" sizeMd="3" sizeXs="12" > 
  </ion-col>
  </ion-row>

</ion-col>

<ion-col sizeLg="4" sizeMd="4" sizeXs="12" class="padding" >
</ion-col>  
</ion-row>
</ion-content>