<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>  Mes documents </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-row >
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12" class="ion-padding">  

         <p style="color: black;"> Vous pouvez ajouter un ou plusieurs documents. Cela permet de renforcer la confiance et la crédibilité des professionnels. </p>
       
  
    
      </ion-col>
    </ion-row>


    <ion-list *ngFor="let item of posts" >
      <ion-item button  (click)="edit($event, item)">
        <img  *ngIf="item.url==null" src="{{item.image}}" width="50px"><img>
        <img  *ngIf="item.url!==null" src="./assets/icon/pdf.png" width="30px"><img>
   
        <ion-label>
          <ion-text>
            <h2>{{item.title}}  </h2>
          </ion-text>
        </ion-label>
   

   
        <ion-label class="ion-text-wrap">
          <p>{{ item.created_at | date:'dd-MM-YYYY' }}</p>
          <ion-badge slot="end">  {{item.category}} </ion-badge>
        </ion-label>
      </ion-item>
    </ion-list>


    <ion-list class="ion-margin-top ion-text-center" *ngIf="posts==0"  >
      <img src="assets/empty.png" width="200px">
      <h1>Oups !</h1>
      <p>Aucun document</p>
    
    </ion-list>
   
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement..."> </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <ion-button icon-left size="primary" expand="full" shape="round" (click)="openModal()" style="text-transform:none!important;" tappable>
     Ajouter un fichier
      </ion-button>







</ion-content>

