<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title > Accueil  </ion-title>
  </ion-toolbar>
</ion-header>


<div class="title-center">
Votre piscine, toujours parfaite. 
</div>


<div class="title-center2">
  Analysez, ajustez, plongez !
  </div>

  <ion-button type="submit" color="secondary" expand="block" (click)="addNewPool()"  style="text-transform:none!important; padding-left: 10%;padding-right: 10%;padding-bottom: 40%;">
      Commencer
  </ion-button>

<div id="background-wrap">
  <div class="bubble x1"></div>
  <div class="bubble x2"></div>
  <div class="bubble x3"></div>
  <div class="bubble x4"></div>
  <div class="bubble x5"></div>
  <div class="bubble x6"></div>
  <div class="bubble x7"></div>
  <div class="bubble x8"></div>
  <div class="bubble x9"></div>
  <div class="bubble x10"></div>
</div>



