<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>  Ajouter un fichier</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">





    <ion-list lines="none"  >
   

              <ion-item class="roundedInput">
                <ion-label position="stacked">Nom du fichier</ion-label>
                <ion-label color="dark" position="stacked">Nom du fichier</ion-label>
                <ion-input inputmode="text"[(ngModel)]="title" placeholder="Nom du fichier">  </ion-input>
              </ion-item>
   
                <ion-item  class="roundedInput">
                  <ion-label position="stacked">Catégorie</ion-label>
                  <ion-select multiple="false" okText="Ok" cancelText="Annuler"  [(ngModel)]="category"  >
                    <ion-select-option value="KBIS" >KBIS</ion-select-option >
                      <ion-select-option value="Garantie décennale" >Garantie décennale</ion-select-option >
                        <ion-select-option value="Autre" >Autre</ion-select-option >
                  </ion-select>
                </ion-item>
                <ion-item  class="roundedInput">
                <h5> Ajouter une image jpeg, png </h5>
              </ion-item>


              <ion-item  class="roundedInput">
                <ion-button type="submit" color="primary" (click)="addFormGallery()" > <ion-icon name="image-outline"></ion-icon></ion-button>
                <ion-button type="submit" color="primary" (click)="addFormCamera()" > <ion-icon name="camera-outline"></ion-icon></ion-button>
              </ion-item>



              <ion-item  class="roundedInput">
                <img src="{{image}}" style="width:200px"  *ngIf="image">
              </ion-item>


                <ion-item  class="roundedInput">
                <h5> Ajouter un fichier PDF <ion-icon slot="icon-only" name="attach"></ion-icon> </h5>
              </ion-item>

              <ion-item  class="roundedInput">
              <form >
                <input type="file" (change)="onFileSelected($event)" />
        

              </form>
            </ion-item>


          <ion-item >
            <div class="item-note" slot="end">
            <ion-button color="light" size="medium" (click)="cancel()" >Annuler </ion-button>
            <ion-button color="secondary" size="medium" (click)="doSave()">Enregistrer</ion-button>
            </div>
           </ion-item>
      
    </ion-list>
    
    

      

</ion-content>
