
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" color="primary">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title > Nouvelle inscription  </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content >
<ion-row>
  <ion-col sizeLg="4" sizeMd="3" sizeXs="12" >
  </ion-col>
  <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
         <form [formGroup]="onRegisterForm" (ngSubmit)="submitForm()" novalidate class="list-form" *ngIf="form0">
          <h2 color="primary"> Nouveau utilisateur </h2>
          <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              E-mail * <br>
              <ion-item class="roundedInput">
                <ion-label  position="floating">E-mail</ion-label>
                <ion-input inputmode="text" [(ngModel)]="email" formControlName="email">  </ion-input>
              </ion-item>
            </ion-col>
           </ion-row>
           <ion-row >
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
              Nom * <br>
               <ion-item class="roundedInput">
                 <ion-label position="floating">Nom </ion-label>
                <ion-input inputmode="text" [(ngModel)]="lastname" formControlName="lastname">  </ion-input>
              </ion-item>
            </ion-col>
         
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
              Prénom * <br>
               <ion-item class="roundedInput">
                <ion-label position="floating">Prénom </ion-label>
                <ion-input inputmode="text"[(ngModel)]="firstname" formControlName="firstname">  </ion-input>
              </ion-item>
            </ion-col>
        </ion-row>
      <ion-row >
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
           Adresse * <br>
          <ion-item class="roundedInput">
            <ion-label color="dark" position="stacked">Adresse</ion-label>
            <ion-input inputmode="text"[(ngModel)]="address" placeholder="Adresse" formControlName="address">  </ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
          CP * <br>
          <ion-item class="roundedInput">
            <ion-label color="dark" position="stacked">CP</ion-label>
            <ion-input type="number"[(ngModel)]="cp" placeholder="Code postal" formControlName="cp">  </ion-input>
          </ion-item>
        </ion-col>
       </ion-row>

      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
          Ville * <br>
          <ion-item class="roundedInput">
            <ion-label color="dark" position="stacked">Ville</ion-label>
            <ion-input inputmode="text"[(ngModel)]="city" placeholder="Ville" formControlName="city">  </ion-input>
          </ion-item>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
          Téléphone Mobile * <br>
          <ion-item class="roundedInput">
            <ion-label color="dark" position="stacked"> Mobile </ion-label>
            <ion-input type="number" [(ngModel)]="phone_mobile" placeholder="Mobile" formControlName="phone_mobile">  </ion-input>
          </ion-item>
        </ion-col>
       </ion-row>



      <ion-row>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
          Mot de passe  * <br>
          <ion-item class="roundedInput">
            <ion-label color="dark" position="stacked">Ville</ion-label>
            <ion-input inputmode="text"[(ngModel)]="password" placeholder="Mot de passe" formControlName="password">  </ion-input>
          </ion-item>
        </ion-col>
     
       </ion-row>

       <ion-row>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
          <ion-item >           
            J'accepte les CGU 
            <ion-checkbox slot="start" [(ngModel)]="check1"  formControlName="check1"></ion-checkbox>
            </ion-item>
        </ion-col>
       </ion-row>

    


       Vous allez recevoir par e-mail un mot de passe pour vous connecter à votre espace.
       <ion-row>
        <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="!onRegisterForm.valid">  Suivant   </ion-button>
        </ion-col>
        </ion-row>
      </form>


</ion-col>  


<ion-col sizeLg="3" sizeMd="3" sizeXs="12" >
</ion-col>
</ion-row>


</ion-content>