


<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" >
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title > Intervention </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content responsive-sm  class="ion-padding">
<ion-row>


<ion-col sizeLg="8" sizeMd="8" sizeXs="12" >



      <ion-list lines="none"  >
        <ion-row >
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >

            <ion-row >
              <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
                Id: {{id}}  <br>
             </ion-col>
            </ion-row>
            <ion-row >
              <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
        
             </ion-col>
            </ion-row>
      

            <ion-row >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                <ion-item class="roundedInput">
                  <ion-label  position="stacked">Titre</ion-label>
                  <ion-input inputmode="text"[(ngModel)]="title" placeholder="Titre">  </ion-input>
                </ion-item>
              </ion-col>
             </ion-row>

           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-item class="roundedInput">
                <ion-label  position="stacked">Description</ion-label>
                <ion-textarea placeholder="Ajoutez une description ..." [autoGrow]="true" [(ngModel)]="content">
              </ion-textarea>
              </ion-item>
            </ion-col>
           </ion-row>

          <ion-row >
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
              <ion-item class="roundedInput">
               <ion-label position="stacked">Prix</ion-label>
               <ion-input inputmode="number"[(ngModel)]="price" placeholder="1">  </ion-input>
             </ion-item>
           </ion-col>
           <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
           </ion-col>
          </ion-row>
                
          <ion-row >
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
            Début  <br>
            <ion-item class="roundedInput">
            <ion-label position="floating">Début </ion-label>
            <ion-input type="date" [(ngModel)]="start_at" >  </ion-input>
            </ion-item>
            </ion-col>
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
            </ion-col>
            </ion-row>



          <ion-row  >
            <ion-item >
            <b> Coordonnées  </b>
            </ion-item>
            </ion-row>
           
            <ion-row >
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
            Nom <br>
            <ion-item class="roundedInput">
            <ion-label position="floating">Nom </ion-label>
            <ion-input inputmode="text" [(ngModel)]="lastname_activite" >  </ion-input>
            </ion-item>
            </ion-col>
           
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
            Prénom * <br>
            <ion-item class="roundedInput">
            <ion-label position="floating">Prénom </ion-label>
            <ion-input inputmode="text"[(ngModel)]="firstname_activite">  </ion-input>
            </ion-item>
            </ion-col>
            </ion-row>
        
        
            <ion-row >
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
            Date de naissance * <br>
            <ion-item class="roundedInput">
            <ion-label position="floating">Date de naissance </ion-label>
            <ion-input type="date" [(ngModel)]="birthdate_activite" >  </ion-input>
            </ion-item>
            </ion-col>
            <ion-col sizeLg="6" sizeMd="6" sizeXs="12" > 
            </ion-col>
            </ion-row>
        
            <ion-row  >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
              Moyen(s) de paiement(s) * <br>
              <ion-item class="roundedInput">
                  <ion-select label="Default label" placeholder="Choisir" [(ngModel)]="moyendepaiement"  multiple="true" okText="Ok" cancelText="Annuler">
                    <ion-select-option class="select-full-width" value="CB "  > 
                      CB 
                    </ion-select-option>
                    <ion-select-option class="select-full-width" value="Chèque"  > 
                     Chèque
                    </ion-select-option>
                    <ion-select-option class="select-full-width" value="Virement"  > 
                     Virement
                    </ion-select-option>
                
                  </ion-select>
                </ion-item>
              </ion-col>
              </ion-row>

           <ion-list style="margin-top: 20px;display: none;" >
            <ion-row>
              <ion-col sizeLg="8" sizeMd="8" sizeXs="12" >
                <h4> Ajouter une image </h4>
                <ion-item >
                  <ion-buttons slot="start">
                    <ion-button >
                      <ion-icon slot="icon-only" name="attach"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  <input type="file" (change)="onFileChange($event)" />
                </ion-item>
                <img  src="{{image}}" style="width:200px">
              </ion-col>
              <ion-col sizeLg="4" sizeMd="4" sizeXs="12" >
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
                <ion-item class="roundedInput">
                  <ion-label  position="stacked">Image </ion-label>
                  <ion-input inputmode="text"[(ngModel)]="image" placeholder="">  </ion-input>
                </ion-item>
              </ion-col>
             </ion-row>
        </ion-list>
        
           <ion-row >
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" >
           </ion-col>
          </ion-row>


      

            <ion-item >
              <div class="item-note" slot="end">
              <ion-button color="light" size="medium" (click)="editpage()" >Annuler </ion-button>
              <ion-button color="primary" size="medium" (click)="doSave()">Enregistrer</ion-button>
              </div>
             </ion-item>
          </ion-col>
      </ion-row>
    </ion-list>


</ion-col>

<ion-col sizeLg="4" sizeMd="4" sizeXs="12" class="padding" >
</ion-col>  
</ion-row>
</ion-content>




